# Dependencies
node_modules

# Build output
dist
dist-lch

# TypeScript incremental cache
*.tsbuildinfo

# Vite
.vite

# Env
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
Thumbs.db
.idea
.vscode

# Logs
*.log
npm-debug.log*
